<div class="row">
    <div [ngClass]="{'col-md-6': editMode, 'col-md-12':!editMode}">

        <ul class="emails">
            <li *ngFor="let email of emails" [class.selected]="email===selectedEmail" (click)="onSelect(email)">
                <span class="badge">{{email.id}}</span>{{email.subject}}

            </li>
        </ul>
    </div>

    <div class="col-md-6" *ngIf="editMode">
        <div *ngIf="selectedEmail">

            <h2>
                {{selectedEmail.subject}}: Subject
            </h2>
            <button (click)="gotoDetail(selectedEmail)">View  MoreDetails of your mail</button>

        </div>
    </div>

</div>

