<div class="row">
    <div [ngClass]="{'col-md-6': editMode, 'col-md-12':!editMode}">

        <ul class="emails">
            <li *ngFor="let email of emails" [class.selected]="email===selectedEmail" (click)="onSelect(email)">
                <span class="badge">{{email.id}}</span>{{email.subject}}

            </li>
        </ul>
    </div>

    <div class="selectedEmail col-md-6" *ngIf="editMode">
        <div class="col-md-offset-3"*ngIf="selectedEmail">

            <h2>
                {{selectedEmail.subject}}
            </h2>
            <button class="col-md-6 btn btn-info"(click)="gotoDetail(selectedEmail)">View Details of your mail</button>

        </div>
    </div>

</div>

